@charset "ISO-8859-1";
*{
margin:0px;
}
body,html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;

}

.navbar {
  overflow: hidden;
  background: #150233; 
  
}
.div2{
	width: 100%;
	background: yellowgreen;
	

}
.navbar_2 {
	padding: 14px 16px;
	font-size: 14px;
	background: #150233; 
	margin-left: 550px;
	width: 600px;
	word-spacing:  15px;
	text-align: center;
	font-weight: bold;
	color: white;
	
  }
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;

}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: blue;
}
.div_image{

	width:340px; 
	height:440; 
	float:left; 
	padding-left: 20px;
	margin-left:100px;
	margin-right: 100px;
	
}
.ttre{
	width: 100%;
	
}
.img{

	width:300px; 
	height:400; 
	float:left; 
	padding-left: 20px;
}
.ft{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	background-color: teal;
	text-align: center;
}
#parent_div {
	background: #F9F1F1;
}

.button {
	background-color: #6B7DAB;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.h1h2{
	margin-left: 500px;
	color: blue;
}
.col1 {
	position: relative;
	width: 300px;
	float: left;
	height: 100px;
	margin-left:auto;
}
.col1-img{
    width:250px; 
    height:250px;
    float:left;
    padding-bottom: 20px;
}

.col2 {
	height: 100%;;
	position: relative;
	width: 300px;
	float: left;
	height: 100px;
	margin: 10px
}
.col2-img{
    width:250px; 
    height:250px;
    float:left;
    padding-bottom: 20px;
}
.col3 {
	height: 100%;;
	position: relative;
	width: 300px;
	float: left;
	height: 100px;
	margin: 10px
}
.col3-img{
    width:250px; 
    height:250px;
    float:left;
    padding-bottom: 20px;
}
.button {
	background-color: transparent; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

  }
@media only screen and  (max-width:768px){
	.navbar {
		overflow: hidden;
		background: #438547; 
		
	  }
	.subnav .subnavbtn {
		font-size: 2px;  
	  }
	.div2{
		display: none;
	}
	.h1h2{
		margin-left: 100px;
		color:yellowgreen;
	}
	.col1{
		width: 100%;
		height: auto;
	}
	.col1-img{
		width: 400px;
		height: 400px;
		float:left;
		margin-left: 0px;

	}
	.col2{
		height: auto;
		width: 100%;
	}
	.col2-img{
		width: 400px;
		height: 400px;
		float:center;
		margin-left: 0px;

	}
	.col3{
		width: 100%;
		height: auto;
	}
	.col3-img{
		width: 400px;
		height: 400px;
		float:left;
		margin-left: 0px;

	}
	.ft{
	 text-align: center;
	 width: 100%;
	 height: auto;
	 color: white;
	 font-size: 12px;
	 background: #438547; 
	}
}
/*@media only screen and (min-width:768px)and (max-width:1024px){*/
	@media only screen and  (min-width:768px) and (max-width:1024px){
	.navbar {
		overflow: hidden;
		background:rgb(8, 8, 8); 
		
	  }
	.subnav .subnavbtn {
		font-size: 2px;  
	  }
	.div2{
		display: none;
	}
	.h1h2{
		margin-left: 100px;
		color:rgb(50, 156, 205);
	}
	.col1{
		width: 45%;
		height: auto;
		background: rgb(78, 78, 77);
	}
	.col1-img{
		width: 350px;
		height: 350px;
		margin-left: 40px;

	}
	.col2{
		width: 45%;
		height: auto;
		background: rgb(220, 235, 220);
	}
	.col2-img{
		width: 350px;
		height: 350px;
		margin-left: 60px;

	}
	.col3{
		width: 100%;
		display: none;

	}
	.col3-img{
		width: 100px;
		height: 100px;
		display: none;

	}
	.ft{
	 text-align: center;
	 width: 100%;
	 height: auto;
	 color: white;
	 font-size: 12px;
	 background: #323f33; 
	}
}
 
@media only screen and (min-width:1024px){
	.navbar {
		overflow: hidden;
		background:rgb(2, 62, 131); 
		
	  }
	.subnav .subnavbtn {
		font-size: 2px;  
	  }
	.div2{
		display: none;
	}
	.h1h2{
		margin-left: 100px;
		color:rgb(50, 156, 205);
	}
	.col1{
		width: 25%;
		height: auto;
		background: rgb(78, 78, 77);
	}
	.col1-img{
		width: 250px;
		height: 250px;
		margin-left: 40px;

	}
	.col2{
		width: 25%;
		height: auto;
		background: rgb(220, 235, 220);
	}
	.col2-img{
		width: 250px;
		height: 250px;
		margin-left: 60px;

	}
	.col3{
		width: 25%;
		background: hotpink;
		height: auto;

	}
	.col3-img{
		width: 200px;
		height: 200px;
		margin-left: 60px;

	}
	.ft{
	 text-align: center;
	 width: 100%;
	 height: auto;
	 color: white;
	 font-size: 12px;
	 background: #323f33; 
	}
}
 

